.page {
  background-color: whitesmoke !important;
  min-height: 75vh;
}
/* header */
.header {
  background-color: #003249 !important;
}

.name {
  color: #e36397 !important;
  font-size: 50px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.project {
  background-color: #003249 !important;
}

/* footer */
.footer {
  background-color: #003249 !important;
  color: rgb(186, 181, 181) !important;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.btn {
  background-color: #003249 !important;
  color: #003249 !important;
  border-color: #e36397 !important;
  color: rgb(186, 181, 181) !important;
}

/* Card Styling */
.card-border {
  border-color: #e36397 !important;
  border-style: solid !important;
  border-width: 2px !important;
}

.card-body {
  background-color: whitesmoke !important;
  color: #003249 !important;
  border-color: #e36397 !important;
  border-style: solid !important;
  border-width: 2px !important;
  border-radius: 5px !important;
  margin: 10px !important;
  padding: 10px !important;
  font-size: 20px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  text-align: center !important;
  box-shadow: 5px 5px 5px #003249 !important;
}

.card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.card-image-container img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* contact form styling */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.contact-container .custom-form {
  width: 50% !important;
}

.outline {
  border: 2px solid #e36397 !important;
  border-radius: 5px !important;
}

/* Styles for normal navigation links */
.nav-link {
  color: grey;
  transition: color 0.3s;
  text-decoration: none;
}

.nav-link:hover {
  color: #e36397 !important;
}

/* Styles for active navigation links */
.nav-link.active {
  color: #e36397 !important; /* Font color is pink for active links */
}

.resume-card {
  max-width: 60% !important;
  margin: 10px !important;
  padding: 10px !important;
  font-size: 15px !important;
}
/* Style for the contact information */
.contact-info {
  font-size: 18px !important;
  margin-bottom: 10px !important;
  display: block !important;
}

/* Increase specificity for .contact-info */
div .contact-info i {
  margin-right: 10px !important;
  color: #007bff !important; /* Icon color */
}

div .contact-info a {
  text-decoration: none !important;
  color: #e36397 !important; /* Link color */
  transition: color 0.3s ease !important;
}

div .contact-info a:hover {
  color: #007bff !important; /* Hover color */
}
/* Style for the profile photo */
.profile-photo {
  max-width: 300px; /* Adjust the maximum width as needed */
  max-height: 300px; /* Adjust the maximum height as needed */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: 0 auto;
  border-radius: 10%;
  box-shadow: 5px 5px 5px 5px #e36397 !important;
}
.about-me {
  font-size: 20px !important;
  margin: 10px !important;
  padding: 10px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  text-align: center !important;
  box-shadow: 5px 5px 5px 5px #e36397 !important;
  max-width: 60% !important;
  justify-self: center !important;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 40px;
}

/* back to top button on portfolio page */
.back-to-top {
  position: fixed;
  bottom: 0;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  padding: 10px 20px;
  cursor: pointer;
  display: none;
}

.btn:hover {
  background-color: #e36397 !important;
  color: #003249 !important;
}

.carousel-ptag {
  color: #e36397 !important;
  font-size: 20px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.carousel-container {
  width: 450px;
  height: 300px;
  overflow: hidden;
  border: 2px solid #e36397; 
}
