.page {
  background-color: whitesmoke !important;
  min-height: 75vh;
}
/* header */
.header {
  background-color: #003249 !important;
}

.name {
  color: #e36397 !important;
  font-size: 50px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}


.project {
  background-color: #003249 !important;
}

/* footer */
.footer {
  background-color: #003249 !important;
  color: rgb(186, 181, 181) !important;
}


.logo {
  width: 40px; 
  height: 40px; 
  margin-right: 10px; 
}

.btn {
  background-color: #003249 !important;
  color: #003249 !important;
  border-color: #e36397 !important;
  color: rgb(186, 181, 181) !important;
}

/* Card Styling */
.card-border {
    border-color: #e36397 !important;
    border-style: solid !important;
    border-width: 2px !important;
  }
  
  .card-body {
    background-color: whitesmoke !important;
    color: #003249 !important;
    border-color: #e36397 !important;
    border-style: solid !important;
    border-width: 2px !important;
    border-radius: 5px !important;
    margin: 10px !important;
    padding: 10px !important;
    font-size: 20px !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    text-align: center !important;
    box-shadow: 5px 5px 5px #003249 !important;
  }
  
  .card-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  
  .card-image-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }


/* contact form styling */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.contact-container .custom-form {
  width: 50% !important;
}

.outline {
  border: 2px solid #e36397 !important;
  border-radius: 5px !important;
}



/* Styles for normal navigation links */
.nav-link {
  color: grey; /* Default font color */
  transition: color 0.3s; /* Smooth color transition on hover */
  text-decoration: none; /* Remove underline by default */
}

/* Styles for navigation links on hover */
.nav-link:hover {
  color: #e36397 !important; /* Font color changes to pink on hover */
}

/* Styles for active navigation links */
.nav-link.active {
  color: #e36397 !important; /* Font color is pink for active links */
}
